/* Colors
 * ------------------------------------------------------------------------ */
$white: #ffffff;
$bg: #f9f9f9;

$grey10: #e0e0e0;
$grey20: #BDBDBD;
$grey99: #333333;
$black: #000000;

$blue10: #A8DAFF;
$blue: #0074D9;

$green: #71F79F;

$red: #EB5757;


/* Breakpoints
 * ------------------------------------------------------------------------ */
$breakpoint-width-tablet: 768px;
$breakpoint-width-phone: 414px;
