@import './scss/variables';
@import './Components/default';

.app {
  * {
    font-family: sans-serif;
    font-style: normal;
    color: $grey99;
  }

  .icon, i {
    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
  }
  .icon.umbrella {
    height: 64px;
    width: 60px;
    * {
      fill: $blue;
    }
    &.small {
      height: 27px;
      width: 30px;
    }
  }
  .page-link {
    margin-left: 10px;
  }

  .error {
    color: $red;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 4px;
  }

  .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0 , 0, 0.3);
    z-index: 9;
  }

  .start-container {
    display: flex;
    justify-content: center;
    .modal-header {
      min-height: 64px;
      display: flex;
      align-items: center;
      padding: 0 24px;
      a {
        font-size: 14px;
        line-height: 20px;
        color: $blue;
      }
    }
    .modal-body {
      flex-direction: column;
      .circle-blue {
        height: 100px;
        width: 100px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
        background: $blue10;
        border-radius: 50%;
      }
      h2 {
        font-size: 40px;
        font-weight: bold;
        line-height: 47px;
        margin: 47px 0;
        text-align: center;
      }
      div.list {
        margin: 0;
        padding: 0;
        div.list-item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 12px;
          list-style: none;
          .circle-blue {
            height: 32px;
            width: 32px;
            min-width: 32px;
            margin-right: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .large {
            font-size: 32px;
          }
          .bold {
            font-weight: bold;
          }
        }
      }

      button.start-btn {
        width: 312px;
        padding: 14px 0;
        margin: 70px 0 27px 0;
        text-align: center;
      }

      .page-header {
          .list-item {
            text-align: left;
          }
        &.footer{
          opacity: 0.3;
        }
      }

      .divider {
        opacity: 0.1;
        height: 1px;
        background: #333;
        width: 100%;
        margin: 40px 0;
      }

      .page-footer{
        background: $blue;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 24px;
        * {
          color: $white;
        }
        button{
          background: transparent;
          border: 0;
          outline: 0;
          box-shadow: none;
        }
        .left {
          font-weight: bold;
        }
        .right {
          display: flex;
          .icon {
            height: 28px;
            width: 28px;
            background: $white;
            border-radius: 2px;
            margin: 0 4px;
            &.up {
              transform: scaleY(-1);
              background: $blue10;
            }

            svg * {
              fill: $grey99;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: $breakpoint-width-phone) {
  .app {
    .start-container {
      .page-header {
        .list-item .large {
          font-size: 24px !important;
        }
      }
    }
  }
}

/* Button */

button {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  border: none;
  outline: 0;
  cursor: pointer;
  &.green {
    background: $green;
  }
}

/* Modal */

.modal {
  box-sizing: border-box;
  height: auto;
  min-height: 705px;
  width: 690px;
  position: fixed;
  top: 30px;
  left: calc(50% - 345px);
  z-index: 99;
  background: $bg;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
  .close-icon{
    position: absolute;
    right: 27px;
    top: 26px;
    svg {
      fill: $blue;
    }
  }
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  @media all and (max-width: $breakpoint-width-phone){
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;

    .close-icon{
      position: absolute;
      right: 35px;
      top: 32px;
    }
  }
}
